body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-inter: Inter;

    /* font sizes */
    --font-size-base: 16px;
    --font-size-mini: 15px;
    --font-size-xl: 20px;

    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-gainsboro-100: #d9d9d9;
    --color-gainsboro-200: rgba(217, 217, 217, 0);
    --color-red: #ff0000;
    --color-whitesmoke: #f4f4f4;
}
