.remove-items-child,
.remove-items-item {
    position: absolute;
    top: 178px;
    left: 50px;
    background-color: var(--color-gainsboro-100);
    width: 201px;
    height: 29px;
}
.remove-items-item {
    top: 134px;
    width: 443px;
}.remove-items-item input[type=text]{
    top: 134px;
    width: 435px;
     height: 29px;
     background-color: var(--color-gainsboro-100);
}
 ::placeholder{
     font-size: var(--font-size-base);
     color: var(--color-black);
     font-family: var(--font-inter);
 }
.rectangle-div,
.remove-items-child1,
.remove-items-child3,
.remove-items-inner {
    position: absolute;
    top: 222px;
    left: 50px;
    background-color: var(--color-gainsboro-100);
    width: 443px;
    height: 29px;
}
.rectangle-div,
.remove-items-child1,
.remove-items-child2,
.remove-items-child3 {
    top: 266px;
}
.remove-items-child1,
.remove-items-child2,
.remove-items-child3 {
    top: 310px;
    width: 102px;
}
.remove-items-child2,
.remove-items-child3 {
    left: 222px;
}
.remove-items-child3 {
    left: 393px;
}
.group-child,
.item {
    position: absolute;
    top: 139px;
    left: 59px;
}
.group-child {
    top: 0;
    left: 0;
    background-color: var(--color-red);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 210px;
    height: 29px;
}
.remove {
    position: absolute;
    top: 5px;
    left: 78px;
}
.rectangle-parent {
    position: absolute;
    top: 417px;
    left: 167px;
    width: 210px;
    height: 29px;
    color: var(--color-white);
}
.removal-date-and {
    position: absolute;
    top: 222px;
    left: 51px;
    background-color: var(--color-gainsboro-100);
    width: 201px;
    height: 29px;
}.removal-date-and [input] {
    position: absolute;
    top: 0px;
    left: 59px;
    background-color: var(--color-gainsboro-100);
    width: 100px;
    height: 29px;
}
 .add-removal-date-and{
     position: absolute;
     top: 220px;
     left: 59px;
 }
.amount,
.removal-contact-person {
    position: absolute;
    top: 265px;
    left: 51px;
}
.amount {
    top: 310px;
}
.barcode-seller,
.price,
.serial-nr {
    position: absolute;
    top: 310px;
    left: 223px;
}
.barcode-seller,
.serial-nr {
    left: 394px;
}
.barcode-seller {
    top: 179px;
    left: 51px;
}
.remove-items-child4,
.remove-items-child5 {
    position: absolute;
    top: 178px;
    left: 292px;
    background-color: var(--color-gainsboro-100);
    width: 201px;
    height: 29px;
}
.remove-items-child5 {
    top: 0;
    left: 0;
    width: 543px;
    height: 37px;
}
.barcode-manufacturer {
    position: absolute;
    top: 179px;
    left: 292px;
}
.group-icon1,
.item-removal {
    position: absolute;
    top: 76px;
    left: 222px;
}
.group-icon1 {
    top: 379px;
    left: 237px;
    width: 67px;
    height: 30px;
}
.group-icon1 {
    height: 5.9%;
    width: 3.68%;
    top: 95.8%;
    right: 51.2%;
    bottom: 22.31%;
    left: 15.1%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.barcode-100s-19px-1-icon {
    position: absolute;
    top: 381px;
    left: 279px;
    width: 26px;
    height: 26px;
    overflow: hidden;
}
.remove-items {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 520px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-inter);
}
.group-child1 button {
    position: absolute;
    padding: 0px 1px;
    top: 379px;
    left: 290px;
    background-color: var(--color-gainsboro-100);
    width: 39px;
    height: 33px;
}
.group-item button{
    top: 0;
    left: 0;
    background-color: #0029ff;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 210px;
    height: 29px;
    color: var(--color-white);
}
.group-child1 img{
    width:30px;
    height:30px;
}
.group-inner img{
    width:30px;
    height:30px;
}
.group-inner button {
    position: absolute;
    padding: 1px 1px;
    top: 380px;
    left: 222px;
    background-color: var(--color-gainsboro-100);
    width: 42px;
    height: 32px;
}
