.remove-items-child,
.remove-items-item {
    position: absolute;
    top: 178px;
    left: 50px;
    background-color: var(--color-gainsboro-100);
    width: 201px;
    height: 29px;
}
.remove-items-item {
    top: 134px;
    width: 443px;
}
.rectangle-div,
.remove-items-child1,
.remove-items-child2,
.remove-items-child3,
.remove-items-inner {
    position: absolute;
    top: 222px;
    left: 50px;
    background-color: var(--color-gainsboro-100);
    width: 443px;
    height: 29px;
}
.rectangle-div,
.remove-items-child1,
.remove-items-child2,
.remove-items-child3 {
    top: 266px;
}
.remove-items-child1,
.remove-items-child2,
.remove-items-child3 {
    top: 310px;
    width: 102px;
}
.remove-items-child2,
.remove-items-child3 {
    left: 222px;
}
.remove-items-child3 {
    left: 393px;
}
.group-child,
.item {
    position: absolute;
    top: 139px;
    left: 59px;
}
.group-child {
    top: 0;
    left: 0;
    background-color: var(--color-red);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 210px;
    height: 29px;
}
.remove {
    position: absolute;
    top: 5px;
    left: 78px;
}
.rectangle-parent {
    position: absolute;
    top: 417px;
    left: 167px;
    width: 210px;
    height: 29px;
    color: var(--color-white);
}
.removal-date-and {
    position: absolute;
    top: 227px;
    left: 59px;
}
.amount,
.removal-contact-person {
    position: absolute;
    top: 271px;
    left: 59px;
}
.amount {
    top: 315px;
}
.barcode-seller,
.price,
.serial-nr {
    position: absolute;
    top: 315px;
    left: 231px;
}
.barcode-seller,
.serial-nr {
    left: 403px;
}
.barcode-seller {
    top: 183px;
    left: 59px;
}
.remove-items-child4,
.remove-items-child5 {
    position: absolute;
    top: 178px;
    left: 292px;
    background-color: var(--color-gainsboro-100);
    width: 201px;
    height: 29px;
}
.remove-items-child5 {
    top: 0;
    left: 0;
    width: 543px;
    height: 37px;
}
.barcode-manufacturer {
    position: absolute;
    top: 183px;
    left: 298px;
}
.group-icon,
.item-removal {
    position: absolute;
    top: 76px;
    left: 222px;
}
.group-icon {
    top: 379px;
    left: 237px;
    width: 67px;
    height: 30px;
}
.remove-items {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 520px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-inter);
}
