body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Bildes stils */
.image-1-icon {
    width: 200px;
    margin: 0 auto 20px;
    display: block;
}

/* Ievadlauki */
.login-form input {
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    font-size: 16px;
}

/* Style the buttons */
#login {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#signup {
    background-color: #d0d0d0;
    color: #000000;
    border: none;
    position: absolute;
    top: 633px;
    margin-left: 230px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login:hover {
    background-color: #0056b3;
}

#signup:hover {
    background-color: #999;
}
