.login-page-child,
.login-page-item {
    position: absolute;
    top: 236px;
    left: 120px;
    background-color: var(--color-gainsboro-100);
    width: 284px;
    height: 61px;
}
.login-page-child input[type=text]{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-gainsboro-100);
    width: 275px;
    height: 55px;
}
.login-page-item input[type=text]{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-gainsboro-100);
    width: 275px;
    height: 55px;
}
.login-page-item {
    top: 314px;
}
.password1,
.username1 {
    position: absolute;
    top: 254px;
    left: 142px;
    font-size: var(--font-size-xl);
}
.password1 {
    top: 332px;
}
.login-page-child1,
.login-page-inner {
    position: absolute;
    top: 392px;
    width: 110px;
    height: 37px;
}
.login-page-inner {
    left: 120px;
    background-color: var(--color-gainsboro-100);

}.login-page-inner button{
    left: 120px;
    background-color: var(--color-gainsboro-100);
     width: 110px;
     height: 37px;
}
.login-page-child1 button{
    left: 294px;
    background-color: #5445ff;
     width: 110px;
     height: 37px;
}
.login-page-child1 {
    left: 294px;
    background-color: #5445ff;
}
.login {
    position: absolute;
    top: 401px;
    left: 332px;
    color: var(--color-white);
}
.forgot-password,
.sign-up1 {
    position: absolute;
    top: 401px;
    left: 149px;
}
.forgot-password {
    top: 446px;
    left: 209px;
    color: #4440ff;
}
.image-1-icon {
    position: absolute;
    top: 33px;
    left: 151px;
    width: 215px;
    height: 176px;
    object-fit: cover;
}
#signup{
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-inter);
}
.login-page {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 520px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-inter);
}
::placeholder{
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-inter);
}
/* Style for the red popup */
.popup {
    display: none;
    position: fixed;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
}
/* Style for the error message */
.error-message {
    color: red;
    font-weight: bold;
}